.portf_container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 2rem;
}
.portf_container article {
  border-radius: 2rem;
  padding: 2rem 1.2rem;
  background: var(--color-bg-variant);
  transition: var(--transition);
}
.portf_container article .portf_img {
  border-radius: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.portf_container article .portf_img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  transition: var(--transition);
}
.portf_container article .portf_img img { 
  transition: var(--transition);
}
.portf_container article:hover > .portf_img img {
  transform: scale(1.5) rotate(-15deg);
}
.portf_container article:hover > .portf_img::after {
  opacity: 0;
}
.portf_container article h3 {
  margin-bottom: 1.2rem;
}
.portf_container article .btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}